// Font Family
// $main-font: 'gordita';
// var(--eb_garamond-font): 'EB Garamond', serif;

// Color Settings
$text-color: rgba(0, 0, 0, 0.7);
$text-dark: hsl(0, 0%, 0%);
$text-primary: #1f2937;
$text-white: #fff;
$text-secondary: #666;
$bg-color: $text-white;
$bg-input: transparent;
$bg-secondary: $bg-input;
$btn-color: #1f2937;
$heading: #1f2937;
$light-bg: #eff6f3;
$color-one: #244034;
$color-two: #d2f34c;
$color-three: #1f2937;
$color-four: #1f2937;
$color-five: #1f2937;
$color-border: #ccc;
