// Font Family
// $main-font: 'gordita';
// var(--eb_garamond-font): 'EB Garamond', serif;

// Color Settings
$text-color: rgba(0, 0, 0, 0.7);
$text-dark: hsl(0, 0%, 0%);
$text-primary: #dcdcdc;
$text-white: #fff;
$text-secondary: rgb(179, 179, 179);
$bg-color: $text-white;
$bg-input: transparent;
$bg-secondary: $bg-input;
$btn-color: rgb(44, 45, 48);
$heading: rgb(44, 45, 48);
$light-bg: #eff6f3;
$color-one: #244034;
$color-two: #d2f34c;
$color-three: rgb(44, 45, 48);
$color-four: rgb(44, 45, 48);
$color-five: rgb(44, 45, 48);
$color-border: #ccc;
