// Font Family
// $main-font: 'gordita';
// var(--eb_garamond-font): 'EB Garamond', serif;

// Color Settings
$text-color: rgba(0, 0, 0, 0.7);
$text-dark: hsl(0, 0%, 0%);
$heading: #333;
$light-bg: #eff6f3;
$color-one: #244034;
$color-two: #d2f34c;
$color-three: #00bf58;
$color-four: #005025;
$color-five: #31795a;
